

/* property
--------------------------------*/
#property {
  padding: 60px 0 30px 0;
  font-size: 18px;
}

#property .property-img {
  overflow: hidden;
}

#property .property-img img {
  margin-left: -15px;
  max-width: 100%;
}

@media (max-width: 768px) {
  #property .property-img {
    height: auto;
  }
  #property .property-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#property .content h2 {
  color: #0171b9;
  font-weight: 700;
  font-size: 36px;
 
}

#property .content h3 {
  color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#property .content p {
  line-height: 26px;
}

#property .content p:last-child {
  margin-bottom: 0;
}

#property .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #df176f;
}

#property .content ul {
  list-style: none;
  padding: 0;
}

#property .content ul li {
  padding-bottom: 10px;
}

/* content
--------------------------------*/
#content {
  background: #fff;
  padding: 30px 0;
}

#content .portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#content .portfolio-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

#content .portfolio-item h2 {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
}

#content .portfolio-item img {
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  width: 100%;
}

#content .portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#content .portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

#content .portfolio-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* downloadform
--------------------------------*/
#downloadform {
  background: #0171b9;
  background-size: cover;
  padding: 40px 0;
}

#downloadform .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#downloadform .cta-text {
  color: #fff;
}

@media (min-width: 769px) {
  #downloadform .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#downloadform .cta-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 3px solid #fff;
  color: #fff;
}

#downloadform .cta-btn:hover {
  background: #df176f;
  border: 3px solid #df176f;
}

