

/* property
--------------------------------*/
#property {
  padding: 60px 0 30px 0;
  font-size: 18px;
}

#property .property-img {
  overflow: hidden;
}

#property .property-img img {
  margin-left: -15px;
  max-width: 100%;
}

@media (max-width: 768px) {
  #property .property-img {
    height: auto;
  }
  #property .property-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#property .content h2 {
  color: #0171b9;
  font-weight: 700;
  font-size: 36px;
 
}

#property .content h3 {
  color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#property .content p {
  line-height: 26px;
}

#property .content p:last-child {
  margin-bottom: 0;
}

#property .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #df176f;
}

#property .content ul {
  list-style: none;
  padding: 0;
}

#property .content ul li {
  padding-bottom: 10px;
}

/* content
--------------------------------*/
#content {
  background: #fff;
  padding: 30px 0;
}
#content .section-header h2::before {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: 3px;
  background: #df176f;

}

/* downloadform
--------------------------------*/
#downloadform {
  background: #0171b9;
  background-size: cover;
  padding: 40px 0;
}

#downloadform .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#downloadform .cta-text {
  color: #fff;
}

@media (min-width: 769px) {
  #downloadform .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#downloadform .cta-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 3px solid #fff;
  color: #fff;
}

#downloadform .cta-btn:hover {
  background: #df176f;
  border: 3px solid #df176f;
}

