/* content
--------------------------------*/
#content {
    background: #fff;
    padding: 30px 0;
  }
  
  #content .portfolio-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }
  
  #content .portfolio-item {
    overflow: hidden;
    position: relative;
    padding: 0;
    vertical-align: middle;
    text-align: center;
  }
  
  #content  h2 {
    color: #0171b9;
    font-size: 40px;
    margin: 0;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  #content .portfolio-item img {
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    width: 100%;
  }
  
  #content .portfolio-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  #content .portfolio-item:hover .portfolio-overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
  }
  
  #content .portfolio-info {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  hr {
      width: 50%;
      height: 1px;
      background-color: #df176f;
  }