/* nature
--------------------------------*/
#nature {
    padding: 30px 0 0 0;
  }
  
  #nature .box {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: 0.4s;
  }
  
  #nature .box:hover {
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
  }
  
  #nature .box .icon {
    float: left;
  }
  
  #nature .box .icon i {
    color: #444;
    font-size: 64px;
    transition: 0.5s;
    line-height: 0;
    margin-top: 34px;
  }
  
  #nature .box .icon i:before {
    background: #0c2e8a;
    background: linear-gradient(45deg, #df176f 0%, #a3ebd5 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #nature .box h4 {
    margin-left: 100px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 22px;
  }
  
  #nature .box a {
    color: #444;
  }
  
  #nature .box p {
    font-size: 16px;
    
  }
  
  @media (max-width: 767px) {
    #nature .box .box {
      margin-bottom: 20px;
    }
    #nature .box .icon {
      float: none;
      text-align: center;
      padding-bottom: 15px;
    }
    #nature .box h4, #nature .box p {
      margin-left: 0;
      text-align: center;
    }
  }