
/* volunteer Section
--------------------------------*/
#volunteer {
  padding: 60px 0 30px 0;
}

#volunteer .volunteer-img {
  overflow: hidden;
}

#volunteer .volunteer-img img {
  margin-left: -15px;
  max-width: 100%;
}

@media (max-width: 768px) {
  #volunteer .volunteer-img {
    height: auto;
  }
  #volunteer .volunteer-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#volunteer .content h2 {
  color: #0c2e8a;
  font-weight: 700;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

#volunteer .content h3 {
  color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#volunteer .content p {
  line-height: 26px;
}

#volunteer .content p:last-child {
  margin-bottom: 0;
}

#volunteer .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #50d8af;
}

#volunteer .content ul {
  list-style: none;
  padding: 0;
}

#volunteer .content ul li {
  padding-bottom: 10px;
}

#volunteer .btn-readmore{
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}

#volunteer .btn-readmore {
  background: #0c2e8a;
  border: 2px solid #0c2e8a;
}

#volunteer .btn-readmore:hover {
  background: none;
  color: #0c2e8a;
}

/* Services Section
--------------------------------*/
#services {
  padding: 30px 0 0 0;
}

#services .box {
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
}

#services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#services .box .icon {
  float: left;
}

#services .box .icon i {
  color: #444;
  font-size: 64px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 34px;
}

#services .box .icon i:before {
  background: #0c2e8a;
  background: linear-gradient(45deg, #50d8af 0%, #a3ebd5 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services .box h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

#services .box h4 a {
  color: #444;
}

#services .box p {
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px;
}

@media (max-width: 767px) {
  #services .box .box {
    margin-bottom: 20px;
  }
  #services .box .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }
  #services .box h4, #services .box p {
    margin-left: 0;
    text-align: center;
  }
}

/* Relation & Article Section
--------------------------------*/
#relation,#article{
  padding: 30px 0 0 0;
}

#relation .tab-content {
  padding-top: 30px; 
}

#article .tab-content {
  padding-top: 30px; 
}

.single-blog-post {
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 5px; }

.single-blog-post .post-thumbnail {
  position: relative;
  z-index: 1; 
}

.single-blog-post .post-thumbnail img {
  width: 100%; 
}

.single-blog-post .post-content {
  padding: 20px 30px; 
}

.single-blog-post .post-content .headline h5 {
  font-size: 18px;
  margin-bottom: 10px; 
}

.single-blog-post .post-content p {
  margin-bottom: 20px; 
}

.single-blog-post .post-content .post-meta p {
  margin-bottom: 0;
  font-size: 12px; 
}

.single-blog-post .post-content .post-meta p a {
  font-size: 12px; 
}

.single-blog-post.post-style-2 {
  margin-bottom: 5px; 
}

.single-blog-post.post-style-2 .post-thumbnail {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 97px;
  flex: 0 0 97px;
  min-width: 97px;
  margin-right: 15px; 
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-blog-post.post-style-2 .post-thumbnail {
    margin-right: 5px; 
  } 
}

.single-blog-post.post-style-2 .post-content {
  padding: 5px 30px 5px 5px; 

}
.single-blog-post.post-style-2 .post-content .headline h5 {
  font-size: 14px;
  margin-bottom: 10px; 
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-blog-post.post-style-2 .post-content .headline h5 {
    font-size: 13px;
 } 
}

@media only screen and (max-width: 767px) {
.single-blog-post.post-style-2 .post-content .headline h5 {
    font-size: 13px; 
  } 
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-blog-post.post-style-2 .post-content {
    padding: 5px; 
  }  
}

.single-blog-post.post-style-2:last-of-type {
  margin-bottom: 0;
}

.single-blog-post.post-style-2.widget-post .post-thumbnail {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
  min-width: 70px;
  margin-right: 15px; 
}

/* Clients Section
--------------------------------*/
#clients {
  padding: 30px 0;
}

#clients img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}

#clients img:hover {
  opacity: 1;
}

#clients .owl-nav, #clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#clients .owl-dot.active {
  background-color: #50d8af;
}

/* Our Portfolio Section
--------------------------------*/
#portfolio {
  background: #fff;
  padding: 30px 0;
}

#portfolio .portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#portfolio .portfolio-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

#portfolio .portfolio-item h2 {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
}

#portfolio .portfolio-item img {
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  width: 100%;
}

#portfolio .portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#portfolio .portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

#portfolio .portfolio-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Testimonials Section
--------------------------------*/
#testimonials {
  padding: 30px 0;
}

#testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 0 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 350px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

@media (max-width: 767px) {
  #testimonials .testimonial-item {
    margin: 30px 10px;
  }
}

#testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

#testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

#testimonials .testimonial-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

#testimonials .testimonial-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

#testimonials .owl-nav, #testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #50d8af;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #f2f5f8;
  padding: 0 0 30px 0;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #555;
}

#footer .credits a {
  color: #0c2e8a;
}
