/* section content */

#content{
    padding: 60px 0 30px 0;
}

#content li{  
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

#content li.active{  
  background-color: dodgerblue;
  color: white;
}

#content li:hover:not(.active) {
  background-color: #ddd;
}

  .tab-content {
    padding-top: 30px; 
    height: 100%;
  }
  
  .single-blog-post {
    height: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 5px; }
  
  .single-blog-post .post-thumbnail {
    position: relative;
    z-index: 1; 
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .single-blog-post .post-thumbnail img {
    width: 100%; 
    height: 300px;
  }
  
  .single-blog-post .post-content {
    padding: 20px 10px;
  }
  
  .single-blog-post .post-content .headline h5 {
    font-size: 18px;
    margin-bottom: 10px; 
  }
  
  .single-blog-post .post-content p {
    margin-bottom: 20px; 
  }
  .single-blog-post .post-content .post-meta p {
    position: absolute;
    margin-top:150px;
    bottom: 0;
    right:15px;
    font-size: 14px; 
    letter-spacing: 1.5px;
    color: #df176f;
  }

